---
---

body{
    font-size: 0;
    color: #bbb;
    background-color: #000;
    margin: 0;
    padding: 0;

    font-size: 18px;
    //font-family: "Lucida Console", Monaco, monospace;
    font-family: 'Ubuntu Mono', monospace;
}

strong{
  color: #fff;
}

pre{
    white-space: pre-wrap;
    overflow-x: auto;
}

pre, code{
    font-size: 15px;
    font-family: 'Source Code Pro', monospace;
}

a{
      text-decoration: none;
      color: #eee;

      &:hover{
        color: #fff;
        text-decoration: underline;
      }
}

#wrapper{
    margin: auto;
    width: 51em;
    display: flex;
    flex-direction: column;
}

#header{
    text-align: center;
}

#menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &>li{
    text-decoration: none;
    list-style-type: none;
    display: block;
  }
}

#content{
    margin: 0 1%;

    & div.highlighter-rouge{
      display: block;
      border: 2px solid #777;
      padding: 0.3em;
      margin: 0.5em;
    }
    & code.highlighter-rouge{
      background-color: #222;
      padding: 0;
    }
}

hr { margin: 15px 1%; }
b {
    font-size: 1.2em;
    display: block;
    margin: 10px;
}

#footer {
  padding: 0 20em;
  display: block;
}

//.highlight .nc{ color: #3e7; }
.highlight {
  .s { color: #e55; }
  .si{ color: #f66; }
  .sc{ color: #f99; }
  .s2{ color: #f99; }
  .se{ color: #f99; }
  .kn{ color: #5bb; }
  .kd{ color: #5bb; }
  .nb{ color: #5bb; }
  .mi{ color: #c6b; }
  .mh{ color: #c6b; }
  .kt{ color: #3e7; }
  .k { color: #dd7; }
  .ow{ color: #dd7; }
  .c1{ color: #39d; }
  .cm{ color: #39d; }
  .cp{ color: #f7c; }
  .n { color: #aaf; }
}

